doctype html
html(lang="en")
    head
        include partials/header
        
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 

            include partials/alertas

            form.caja-login(method="post")
                p Coloca tu nuevo password
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Nuevo Password")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer")